In [1]:
import pandas as pd

In [2]:
test = {"ad_bucket": ["bucket1"], "ad_type": ["type1"], "ad_source": ["source1"],"schema_version": ["2"],  "ad_campaign_id": ["999999999"], 
        "ad_keyword": ["+fake_term"],  "ad_group_id": ["999999999"], "ad_creative": ["999999999"]}
test_df = pd.DataFrame(test)
test_df

,ad_bucket,ad_type,ad_source,schema_version,ad_campaign_id,ad_keyword,ad_group_id,ad_creative
0,bucket1,type1,source1,2,999999999,+fake_term,999999999,999999999

In [3]:
url = "https://www.tidio.com/?utm_source=source1&utm_medium=cpc&utm_campaign=999999999&utm_content=9999999utm_term=+fake_term+chat&a_bucket=bucket1&a_type=type1&a_source=source1&a_v=2&a_g_campaignid=999999999&a_g_keyword=+fake_term&a_g_adgroupid=999999999&a_g_creative=999999999"

In [4]:
url.split("&")[-8::]

['a_bucket=bucket1',
 'a_type=type1',
 'a_source=source1',
 'a_v=2',
 'a_g_campaignid=999999999',
 'a_g_keyword=+fake_term',
 'a_g_adgroupid=999999999',
 'a_g_creative=999999999']

In [5]:
values = [val.split("=")[1] for val in url.split("&")[-8::]]

In [6]:
values

['bucket1',
 'type1',
 'source1',
 '2',
 '999999999',
 '+fake_term',
 '999999999',
 '999999999']

columns = ["ad_bucket", "ad_type","ad_source","schema_version", "ad_campaign_id", "ad_keyword","ad_group_id", "ad_creative"]

In [8]:
columns = ["ad_bucket", "ad_type","ad_source","schema_version", "ad_campaign_id", "ad_keyword","ad_group_id", "ad_creative"]

In [9]:
out_dict = dict()
for col, val in zip(columns, values):
    out_dict.setdefault(col, [])
    out_dict[col].append(val)

In [10]:
out_df = pd.DataFrame(out_dict)

In [11]:
out_df

,ad_bucket,ad_type,ad_source,schema_version,ad_campaign_id,ad_keyword,ad_group_id,ad_creative
0,bucket1,type1,source1,2,999999999,+fake_term,999999999,999999999

In [12]:
out_df.equals(test_df)

True