In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
test_df = pd.read_csv("task1_output.tsv", sep="\t", dtype="str")

In [3]:
test_df.url[1]

'www.tidio.com/?a_g_adgroupid=51965652&utm_campaign=57849297&a_g_creative=75933843&a_v=2&utm_source=source_1&utm_content=OmFZSyCEz83znMT&a_g_campaignid=57849297&a_bucket=bucket_1&utm_term=keyword_66&a_type=type_1&utm_medium=cpc&a_source=source_1&a_g_keyword=keyword_66'

In [4]:
urls = pd.read_csv("task1_input.tsv", sep="\t")

In [5]:
out_dict = dict()
required_columns = ["a_bucket", "a_type", "a_source", "a_v", "a_g_campaignid", "a_g_keyword", "a_g_adgroupid", "a_g_creative"]

In [6]:
for url in urls.url:
    columns = [val.split("=")[0] for val in re.split(r'[&%?]', url)]
    values = [np.nan if len(val.split("=")) < 2 else val.split("=")[1] for val in re.split(r'[&%?]', url)]
    out_dict.setdefault("url", []).append(url)
    
    for col, val in zip(columns, values):
        if col not in required_columns:
            continue
        out_dict.setdefault(col, []).append(val)
        
    if (set(required_columns) - set(columns)):
        missing_columns = set(required_columns) - set(columns)
        
        for missing_column in missing_columns:
            out_dict.setdefault(missing_column, []).append(np.nan)

In [7]:
out_df = pd.DataFrame(out_dict)

In [8]:
out_df.head()

,url,a_source,a_g_creative,a_g_keyword,a_g_campaignid,a_bucket,a_type,a_v,a_g_adgroupid
0,www.tidio.com/?a_source=source_1&utm_medium=cp...,source_1,77263014,keyword_44,83925214,bucket_1,type_4,2,NaN
1,www.tidio.com/?a_g_adgroupid=51965652&utm_camp...,source_1,75933843,keyword_66,57849297,bucket_1,type_1,2,51965652
2,www.tidio.com/?utm_medium=cpc&utm_term=keyword...,source_1,71297492,keyword_57,75323203,bucket_1,type_3,2,50869611
3,www.tidio.com/?a_g_keyword=keyword_43&a_g_adgr...,source_2,63676146,keyword_43,59256211,bucket_3,type_4,2,33978949
4,www.tidio.com/?utm_content=rCEnQLzcbZlvcHI&a_t...,source_1,80239457,keyword_87,72424542,bucket_2,type_2,2,34759537

In [9]:
names = {"a_bucket": "ad_bucket", "a_type":"ad_type", "a_source":"ad_source", "a_v":"schema_version", 
        "a_g_campaignid":"ad_campaign_id", "a_g_keyword":"ad_keyword", "a_g_adgroupid":"ad_adgroup_id", "a_g_creative":"ad_creative"}
out_df = out_df.rename(names, axis="columns")
out_df.head()

,url,ad_source,ad_creative,ad_keyword,ad_campaign_id,ad_bucket,ad_type,schema_version,ad_adgroup_id
0,www.tidio.com/?a_source=source_1&utm_medium=cp...,source_1,77263014,keyword_44,83925214,bucket_1,type_4,2,NaN
1,www.tidio.com/?a_g_adgroupid=51965652&utm_camp...,source_1,75933843,keyword_66,57849297,bucket_1,type_1,2,51965652
2,www.tidio.com/?utm_medium=cpc&utm_term=keyword...,source_1,71297492,keyword_57,75323203,bucket_1,type_3,2,50869611
3,www.tidio.com/?a_g_keyword=keyword_43&a_g_adgr...,source_2,63676146,keyword_43,59256211,bucket_3,type_4,2,33978949
4,www.tidio.com/?utm_content=rCEnQLzcbZlvcHI&a_t...,source_1,80239457,keyword_87,72424542,bucket_2,type_2,2,34759537

In [10]:
out_df = out_df[['url', 'ad_bucket', 'ad_type', 'ad_source', 'schema_version', 'ad_campaign_id', 'ad_keyword', 'ad_adgroup_id', 'ad_creative']]

In [11]:
out_df.head()

,url,ad_bucket,ad_type,ad_source,schema_version,ad_campaign_id,ad_keyword,ad_adgroup_id,ad_creative
0,www.tidio.com/?a_source=source_1&utm_medium=cp...,bucket_1,type_4,source_1,2,83925214,keyword_44,NaN,77263014
1,www.tidio.com/?a_g_adgroupid=51965652&utm_camp...,bucket_1,type_1,source_1,2,57849297,keyword_66,51965652,75933843
2,www.tidio.com/?utm_medium=cpc&utm_term=keyword...,bucket_1,type_3,source_1,2,75323203,keyword_57,50869611,71297492
3,www.tidio.com/?a_g_keyword=keyword_43&a_g_adgr...,bucket_3,type_4,source_2,2,59256211,keyword_43,33978949,63676146
4,www.tidio.com/?utm_content=rCEnQLzcbZlvcHI&a_t...,bucket_2,type_2,source_1,2,72424542,keyword_87,34759537,80239457

In [12]:
out_df.equals(test_df)

True